[ui]
theme = centraldedados

[credentials]
contact_email = johndoe@dummydomain.net

[repositories]
population = https://github.com/datasets/population.git
gold-prices = https://github.com/datasets/gold-prices.git
gdp = https://github.com/datasets/gdp.git
