/* Eric Meyer's Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, main,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Typography
*/

@font-face {
	  font-family: 'Comme Regular';
	  src: local('Comme Regular'), url('/fonts/CommeSans/Comme-Regular.ttf') format('truetype');
}

@font-face {
	  font-family: 'Comme Thin';
	  src: local('Comme Thin'), url('/fonts/CommeSans/Comme-Thin.ttf') format('truetype');
}

@font-face {
	  font-family: 'Comme Bold';
	  src: local('Comme Bold'), url('/fonts/CommeSans/Comme-Bold.ttf') format('truetype');
}

body {
		font-family: 'Comme Regular', DejaVu Sans, Arial, sans-serif;
		line-height: 1.4;
}

h1 {  font-size: 2.25em;  font-family: 'Comme Thin';  }
h2 {  font-size: 2em;     font-family: 'Comme Thin';  }
h3 {  font-size: 1.625em; font-family: 'Comme Thin';  }
h4 {  font-size: 1.375em; font-family: 'Comme Bold';  }
h5 {  font-size: 1.25em;  font-family: 'Comme Thin';	}
h6 {  font-size: 1.125em; font-family: 'Comme Thin';  }

.nav,
.footer,
small {
		font-size: 0.75em;
}


/* Colours
*/

body {
		background: #f7f8f2;
		color: #2c373a;
}

a {
		color: #de1b1b;
		text-decoration: none;
}

/* Layout
*/

.row:before, .row:after,
.header:before, .header:after,
.nav:before, .nav:after {
    content: " ";
    display: table;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
}

.row:after,
.header:after
.nav:after  {
    clear: both;
}

.nav li {
		text-transform: uppercase;
}

.header h1 > img {
		display: block;
		width: 100%;
		height: auto;
}

.header .description {
		line-height: 1.2;
}

.header .description > h3 {
		margin-bottom: .5em;
}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 400px) {

}

@media only screen and (min-width: 900px) {

		.row > div {
				width: 86%;
				margin: 2.325em auto;
		}

		.header > div {
				width: 86%;
				margin: .5em auto 2.325em;
		}

		.header > div h1 {
				float: left;
				width: 4.25em;
				padding-top: 1.6em;
		}

		.header .description {
				padding-top: 2em;
				padding-left: 15%;
				line-height: 1.2;
		}

		.nav > div {
				width: 86%;
				margin: 0 auto;
		}

		.nav > div > ul {
				float: right;
				width: 70%;
				text-align: right;
		}

		.nav li {
				display: inline-block;
		}

		.nav li a {
				display: block;
				padding: .75em .5em;
		}


}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

