/* Eric Meyer's Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, main,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Typography
*/

@font-face {
	  font-family: 'Comme Regular';
	  src: local('Comme Regular'), url('/fonts/CommeSans/Comme-Regular.ttf') format('truetype');
}

@font-face {
	  font-family: 'Comme Thin';
	  src: local('Comme Thin'), url('/fonts/CommeSans/Comme-Thin.ttf') format('truetype');
}

@font-face {
	  font-family: 'Comme Bold';
	  src: local('Comme Bold'), url('/fonts/CommeSans/Comme-Bold.ttf') format('truetype');
}

@font-face {
	  font-family: 'Comme Medium';
	  src: local('Comme Medium'), url('/fonts/CommeSans/Comme-Medium.ttf') format('truetype');
}

body {
		font-family: 'Comme Regular', DejaVu Sans, Arial, sans-serif;
		line-height: 1.4;
}

h1 {  font-size: 2.25em;  font-family: 'Comme Thin';  }
h2 {  font-size: 2em;     font-family: 'Comme Thin';  }
h3 {  font-size: 1.625em; font-family: 'Comme Thin';  }
h4 {  font-size: 1.375em; font-family: 'Comme Bold';  }
h5 {  font-size: 1.25em;  font-family: 'Comme Thin';	}
h6 {  font-size: 1.125em; font-family: 'Comme Thin';  }

strong,
.datafiles ul > li > a,
.footer li a {	font-family: 'Comme Bold';	}

.header .description {	font-family: 'Comme Medium';	}

.nav,
.footer,
small {
		font-size: 0.75em;
}


/* Colours
*/

body {
		background: #d8d6c9;
		color: #2c373a;
}

a {
		color: #de1b1b;
		text-decoration: none;
}

/* Layout
*/

.row:before, .row:after,
.header:before, .header:after,
.nav:before, .nav:after,
.datafiles:before, .datafiles:after  {
    content: " ";
    display: table;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
}

.row:after,
.header:after
.nav:after,
.datafiles:after {
    clear: both;
}

.row > div {
		width: 96%;
		margin: 1em auto;
}

.header, .row {
		background: #f7f8f2;
}

.header > div {
		width: 96%;
		overflow: auto;
		clear: both;
		margin: 0 auto;
		padding-bottom: 1em;
}

.header h1 {
	font-size: 4em;
	line-height: 1;
}

.nav > div {
		width: 96%;
		margin: 0 auto;
}

.nav li {
		text-transform: uppercase;
}

.header > div {		
		border-bottom: 1px solid #b9bdc5;
}

.header .description {
		line-height: 1.2;
		font-size: 0.865em;
}

.header .description img {
		display: block;
		margin-bottom: .5em;
}

.header h1 > a {
		color: #2c373a;
}

.header h1 > a:hover {
		color: #de1b1b;
}

.nav > div > ul {
		text-align: right;
}

.nav li {
		display: inline-block;
}

.nav li a {
		display: block;
		padding: .75em .5em;
}

.datafiles > ul {
		background: #e0e2e7;
		padding-top: 20px;
		padding-bottom: 12px;
		box-shadow: 5px 5px 5px #d8d6c9;
}

.datafiles ul > li > a {
		font-size: 0.75em;
		text-transform: uppercase;
		letter-spacing: 1px;
		text-align: center;
		display: block;
		background: #b9bdc5;
		padding: 8px 5px;
		border-radius: 2px;
}

.footer {
		background: #d8d6c9;
		padding-top: 1em;
}

.footer h4 {
		margin-bottom: 1em;
}

.footer li {
		margin: 1em 1em 0 0;
}

.footer div > ul img {
		display: inline-block;
		height: 50px;
		width: auto;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 400px) {

		.datafiles > ul {
				display: inline-block;
				width: 48.95%;
				margin: 0 1.04% 20px;
		}

		.datafiles ul > li {				
				padding: 5px 6.59%;
		}

}

@media only screen and (min-width: 400px) and (max-width: 599px) {

		.datafiles > ul:nth-child(odd) {
				margin-left: 0;
		}

		.datafiles > ul:nth-child(even) {
				margin-right: 0;
		}
}


@media only screen and (min-width: 600px) {

		.row > div {
				width: 92%;
				margin: 1em auto;
		}

		.header > div {
				width: 92%;
				overflow: auto;
				clear: both;
				margin: 0 auto;
				padding-bottom: 1em;
		}

		.header h1 {
			font-size: 4em;
			line-height: 1;
		}

		.nav > div {
				width: 92%;
				margin: 0 auto;
		}

		.datafiles > ul {
				display: inline-block;
				width: 23.64%;
				margin: 0 0.9%  20px;
		}

		.datafiles ul > li {				
				padding: 5px 6.59%;
		}

}

@media only screen and (min-width: 600px) and (max-width: 899px) {

		.datafiles > ul:first-child,
		.datafiles > ul:nth-child(4n+1) {
				margin-left: 0;
		}

		.datafiles > ul:nth-child(4n) {
				margin-right: 0;
		}
}

@media only screen and (min-width: 900px) {

		.row > div {
				width: 86%;
				margin: 1em auto;
		}

		.header > div {
				width: 86%;
				overflow: auto;
				clear: both;
				margin: 0 auto;
				padding-bottom: 1.325em;
		}

		.header img {
				max-width: 100%;
		}

		.header .description {
				float: left;
				width: 20%;
				margin-top: 1.2em;
				line-height: 1.2;
				clear: both;
		}

		.header h1 {
			font-size: 7.3em;
			line-height: 1;
			margin-left: 21.5%;
		}

		.nav > div {
				width: 86%;
				margin: 0 auto;
		}

		.nav > div > ul {
				float: right;
				width: 70%;
		}

		.datafiles {
				display: table
		}

		.datafiles > ul {
				display: inline-block;
				width: 15.79%;
				margin: 0 0.52%  20px;
		}

		.datafiles > ul:first-child,
		.datafiles > ul:nth-child(6n+1) {
				margin-left: 0;
		}

		.datafiles > ul:nth-child(6n) {
				margin-right: 0;
		}

		.datafiles ul > li {				
				padding: 5px 6.59%;
		}

		.datafiles ul > li > a {
		}

		.footer li {
				display: inline-block;
				margin: 0 1em 0 0;
		}

		.footer li a {
				display: inline-block;
				padding: .5em .25em;
		}

}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

