<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {% block title %}
      <title>Datacentral</title>
    {% endblock %}
    <meta name="description" content="An open data repository">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <nav class="nav">
      <div>
        <ul>
            <li><a href="/about/">About</a></li>
            <li><a href="/faq/">FAQ</a></li>
            <li><a href="/contact/">Contact</a></li>
          <li><a href="/api.json">API</a></li>
        </ul>
      </div>
    </nav>
    <header class="header">
      <div>
        <a href="/">
          <p><img src="/img/centraldedados.png" alt="Datacentral" /></p>
          <h1>Central de Dados</h1>
        </a>
      </div>
    </header>
    {% block content %}{% endblock %}
    <footer class="footer row">
      <div>
        <h5>Powered by
          <a rel="external" target="_blank" href="http://transparenciahackday.org" title="Transparência Hackday">
            <img src="/img/thackdaypt.png" alt="Transparência Hackday Portugal"> Transparência Hackday Portugal
          </a> 
          nos 
          <a rel="external" target="_blank" href="http://datewithdata.pt" title="Date With Data">
            <img src="/img/datewithdata.png" alt="Date With Data">
          </a>
        </h5>
        <ul>
          <li>Supported by&nbsp;
            <a rel="external" target="_blank" href="https://okfn.org/network/portugal/">
              <img src="/img/okfn-pt.png" alt="Open Knowledge Portugal">
              <strong>Open Knowledge Portugal</strong>
            </a>
            <a rel="external" target="_blank" href="http://jplusplus.org">
              <img src="/img/jplusplus.png" alt="Journalism++">
              <strong>Journalism++</strong>
            </a>
          </li>
          <li>
            Thanks to&nbsp;
            <a rel="external" target="_blank" href="https://okfn.org">
              <img src="/img/okfn.png" alt="OKI">
              <strong>Open Knowledge International</strong>
            </a>
          </li>
        </ul>
      </div>
    </footer>
    <script src="/js/jquery-1.11.0.min.js"></script>
    <script src="/js/underscore-min.js"></script>
    <script src="/js/search.js"></script>
    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(["setCookieDomain", "*.centraldedados.pt"]);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//piwik.manufacturaindependente.org/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 2]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//piwik.manufacturaindependente.org/piwik.php?idsite=2" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
  </body>
</html>
