{% extends "base.html" %}

{% block content %}

<section class="row">
  <div>
    <div class="main-dataset">
      <div class="readme">
        <h2>Contact</h2>
        <form action="http://formspree.io/{{ contact_email }}" method="post">
          <label for="message">
            Your message
            <textarea name="message" id="message" placeholder="Message..."></textarea>
          </label>
          <label for="sender">
            Your e-mail
            <input type="email" name="_replyto" id="sender" placeholder="your-email@example.com">
          </label>
          <p><input class="button" type="submit" value="Send"></p>
          <input type="hidden" name="_subject" value="Datacentral contact!" />
          <input type="text" name="_gotcha" style="display:none" />
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
