{% extends "base.html" %}

{% block content %}
<section class="row">
  <div>
    <div class="description">
      {{ welcome_text }}
    </div>
    <div class="main">
      <div class="search">
        <input id="search" type="text" placeholder="Search datasets..." />
        <span id="spinner"><img src="/img/ajax-loader.gif" alt="Loading..." title="Loading..." /></span>
      </div>
      <ul class="datasets">
        <li class="notfound">
          No datasets found.
        </li>
        {% for d in datapackages %}
        <li class="dataset-{{ d.original_name }}">
          <a href="/{{ d.name }}/">
            <h3>{{ d.title }}</h3>
            <span>{{ d.description }}</span>
            <span class="source">
              {% if d.sources %}
              <em>Sources:</em>
              {% for s in d.sources %}
                {{ s.name }}
              {% endfor %}
              {% endif %}
            </span>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
{% endblock content %}

