<!DOCTYPE html>
<html>
	<head>
			<meta charset="utf-8"> 
    	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
			<title>{% block title %}Central de dados{% endblock %}</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/css/main.css">
	</head>
	<body>
		<nav class="nav">
			<div>
				<ul>
				  <li><a href="#">Acerca</a></li>
				  <li><a href="#">FAQ</a></li>
				</ul>
			</div>
		</nav>
		<header class="header">
			<div>
				<a href="/">
					<p><img src="/img/centraldedados.png" alt="Central de Dados" /></p>
					<h1>Central de Dados</h1>
				</a>
			</div>
		</header>
		<section class="row">
			<div>
				<div class="description">
					<p>A Central de Dados é um repositório aberto de datasets <a href="#">Open Data em Portugal</a>. Os dados aqui publicados são provenientes de diversas fontes (sempre indicadas!) e estão sob a curadoria do <a rel="external" href="http://transparenciahackday.org" title="Transparência Hackday">Transparência Hackday</a>.</p>
					<p>Mais texto Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquam scelerisque nibh in tempus. Suspendisse quis fermentum arcu, vitae euismod turpis. Aenean rhoncus felis felis, id scelerisque ligula pretium sit amet. Nulla est mauris, egestas eget consectetur quis, venenatis quis dui. Suspendisse ullamcorper scelerisque quam sed suscipit. Aenean pulvinar ut tellus eu ornare.</p>
					<p>Etiam convallis enim vitae tellus consectetur, in varius lorem pretium. Etiam imperdiet condimentum magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam non diam ullamcorper, vulputate nulla facilisis, dictum lorem.</p>
				</div>
				<div class="main">
					{% block content %}{% endblock %}
				</div>
			</div>
		</section>
		<footer class="footer row">
			<div>
				<h4><a rel="external" href="http://transparenciahackday.org" title="Transparência Hackday">Transparência Hackday Portugal</a></h4></a>
				<ul>
					<li>com Apoio <a rel="external" href="http://jplusplus.pt">
						<img src="/img/jplusplus.png" alt="Journalism++" />
						<strong>Journalism++</strong>
					</a></li>
					<li>Agradecimentos <a rel="external" href="https://okfn.org">
						<img src="/img/okfn.png" alt="OKFN" />
						<strong>Open Knowledge</strong>
					</a></li>
					<!--<li>Parceiros <a rel="external" href="http://ama.pt">
						<img src="/img/ama.png" alt="AMA" />
						<strong>AMA, Agência para a Modernização</strong>
					</a></li>-->
				</ul>
			</div>
		</footer>
		<script src="/js/vendor/jquery-1.11.0.min.js"></script>
	</body>
</html>
