<!DOCTYPE html>
<html>
	<head>
			<meta charset="utf-8"> 
    	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
			<title>{% block title %}Central de dados{% endblock %}</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/css/main.css">
	</head>
	<body>
		<nav class="nav">
			<div>
				<ul>
				  <li><a href="#">Acerca</a></li>
				  <li><a href="#">FAQ</a></li>
				</ul>
			</div>
		</nav>
		<header class="header">
			<div>
				<h1>
					<img src="img/centraldedados.png" alt="Central de Dados" />
				</h1>
				<div class="description">
					<h3>A Central de Dados é um sítio lorem ipsum sit amet e por aí adiante.</h3>
					<p>Donec luctus tellus sapien, ut imperdiet dolor volutpat vel. Curabitur nec convallis turpis. Nunc facilisis lorem et odio hendrerit, congue blandit ligula vulputate. Pellentesque nec erat sit amet orci vulputate scelerisque. Vivamus ante diam, congue sed felis sit amet, porta blandit elit. Nullam accumsan odio at mauris imperdiet, nec tristique arcu lobortis. Mauris neque dui, ornare in enim et, lobortis adipiscing neque. Ut justo orci, luctus in pretium vitae, tempor sit amet.</p>
				</div>
			</div>
		</header>
		<section class="row">
			<div>
				{% block content %}{% endblock %}
			</div>
		</section>
		<footer class="footer row">
			<div>
				<ul>
					<li><h4><a rel="external" href="#">Transparência Hackday</a></h4> com</a></li>
					<li><h4>Apoio:</h4> <a rel="external" href="#">Journalism++</a></li>
					<li><h4>Agradecimentos:</h4> <a rel="external" href="#">Open Knowledge</a></li>
					<li><h4>Parceiros:</h4> <a rel="external" href="#">AMA, Agência para a Modernização</a></li>
				</ul>
			</div>
		</footer>
		<script src="/js/vendor/jquery-1.11.0.min.js"></script>
	</body>
</html>
